.auth-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
  padding: 30px;
  border-radius: 16px;
  gap: 20px;
}
.auth-form h3 {
  font-size: 30px;
}
.auth-form img {
  width: 36px;
}
.auth-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.auth-form-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.auth-form-item input {
  padding: 10px;

  border-radius: 16px;
  border: 2px solid rgb(214, 214, 214);
}
.auth-form button {
  padding: 10px;
  border-radius: 16px;
  border: none;
  background-color: rgb(233, 0, 0);
  color: white;
  cursor: pointer;
}
.auth-form button:hover {
  background-color: rgb(252, 0, 0);
}
