.create-top {
  display: flex;
  border-top: 1px solid rgb(206, 206, 206);
  border-bottom: 1px solid rgb(206, 206, 206);
  padding: 15px;
  justify-content: space-between;
  align-items: center;
}
.create-top h4 {
  font-size: 20px;
}
.publish-btn {
  padding: 10px;
  border: none;
  background-color: rgb(211, 0, 0);
  color: white;
  cursor: pointer;
  border-radius: 16px;
}
.publish-btn:hover {
  background-color: rgb(230, 0, 0);
}
.create-post {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 10px;
}
.upload {
  border-radius: 32px;
  border: 2px solid rgb(222, 222, 222);
  background-color: rgb(240, 240, 240);
  width: 375px;
  height: 574px;
  position: relative;
  cursor: pointer;
}
.upload-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.upload-info {
  position: absolute;
  bottom: 32px;
  text-align: center;
  font-size: medium;
  color: rgb(146, 146, 146);
}
.post-form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 375px;
  gap: 15px;
}
.form-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form-item input,
textarea,
select {
  padding: 10px;
  border-radius: 16px;
  border: 1.5px solid rgb(222, 222, 222);
}
.form-item label {
  color: rgb(180, 180, 180);
}
.form-item textarea {
  resize: none;
}
@media (max-width: 875px) {
  .create-post {
    flex-direction: column;
  }
}
.uploaded-file {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
